 <title>ratatouille</title>

  <div>
    <ul class="message-list">
      {{#each messages as |message|}}
          <li> {{message.name}} : {{message.text}}</li>
      {{/each}}
    </ul>
  </div>

 <div>
     <textarea name="messagebox" id="" cols="30" rows="2"></textarea>
     <button {{action "submitMessage"}}>Submit</button>
 </div>



