{{yield}}

<div>
    {{#if isExpanded}}
    <button {{action 'contractItemAdd'}}>Close</button>
    {{else}}
    <button {{action 'expandItemAdd'}}>Add</button>
    {{/if}}
</div>

{{#if isExpanded}}
<div class="menu-add">

    <div class="menu-add-module">
        <div class="menu-add-label">
            <span>Menu Item</span>
            <input class="menu-add-input" placeholder="Add menu item name" />
        </div>
    </div>

    <div class="menu-add-module">
        <div class="menu-add-label">
            <span>Price</span>
            <input class="menu-add-input" placeholder="Add price" />
        </div>
    </div>

    <div class="menu-add-module">
        <div class="menu-add-label">
            <span>Description</span>
            <input class="menu-add-input" placeholder="Add Description" />
        </div>
    </div>

    <div class="menu-add-module">
        <div class="menu-add-label">
            <span>Ingredients</span>
            <input class="menu-add-input" placeholder="Add Ingredients" />
        </div>
    </div>

    <div class="menu-add-module upload">
        <div class="upload-area">
            <div>
                UPLOAD
            </div>
        </div>
        <div class="upload-delete"><button>DELETE</button></div>
    </div>

</div>
{{/if}}