{{outlet}}
<div class="menu-list">

    {{#each items as |item|}}
    {{menu-item
    name=item.name
    price=item.price
    numOfOrders=item.numOfOrders
    image=item.image
    ingredients=item.ingredients
    foodAllergies=item.food_allergies
    }}
    {{/each}}
</div>