{{yield}}

<div class="navbar">
    <div>
        <span>
            {{#link-to "dashboard" class="button"}}
            Dashboard
            {{/link-to}}
        </span>
    </div>
    <div>
        <span>
            {{#link-to "menu" class="button"}}
            Menu
            {{/link-to}}
        </span>
    </div>
    <div>
        <span>
            {{#link-to "reviews" class="button"}}
            Review
            {{/link-to}}
        </span>
    </div>
    <div>
        <span>
            {{#link-to "staff" class="button"}}
            Staff
            {{/link-to}}
        </span>
    </div>
    <div>
        <span>
            {{#link-to "scheduling" class="button"}}
            Scheduling
            {{/link-to}}
        </span>
    </div>
    <div>
        <span>
            {{#link-to "profile" class="button"}}
            Profile
            {{/link-to}}
        </span>
    </div>
</div>