{{yield}}

<div class="navbar">
    <div class="nav-link">
        <span>
            {{#link-to "dashboard"}}
            Dashboard
            {{/link-to}}
        </span>
    </div>
    <div class="nav-link">
        <span>
            {{#link-to "menu"}}
            Menu
            {{/link-to}}
        </span>
    </div>
    <div class="nav-link">
        <span>
            {{#link-to "reviews" }}
            Review
            {{/link-to}}
        </span>
    </div>
    <div class="nav-link">
        <span>
            {{#link-to "staff" }}
            Staff
            {{/link-to}}
        </span>
    </div>
    <div class="nav-link">
        <span>
            {{#link-to "scheduling"}}
            Scheduling
            {{/link-to}}
        </span>
    </div>
    <div class="nav-link">
        <span>
            {{#link-to "profile" }}
            Profile
            {{/link-to}}
        </span>
    </div>
</div>